.section {
  background-color: #f9f9f9;
  padding: 12px 20px;
  border-radius: 10px;
  margin-bottom: 18px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}
