html,
body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-weight: bold;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
}

.tile.valid {
  border-color: lime;
}

.tile.invalid {
  border-color: red;
}

.tile.none {
  border-color: aqua;
}